body {
  margin: 0 auto;
  background-color: #FEFEFE;
}

nav {

}

nav > ul {              /*find the selector that selects all unordered lists in a nav*/
  list-style-type: none;
}

#container {

}

.box1 {
  width: 100%;
  background-color: #89A5A7;
}

.box2 {
  width: 100%;
  background-color: #ABCDEA;
}

.box3 {
  width: 100%;
  background-color: #C8769A;
}
